<h1{
	padding: 30px;
	text-align: center;
}
.head{
	width: 100%;
	min-height: 100px;
	background-color: green;
	display: flow-root;
}

.navigation{
	min-height: 200px;
	background-color: yellow;
	display: flow-root;
}

.body{
	min-height: 300px;
	background-color: red;
	display: flow-root;
}

.wrapper{
	overflow: hidden;
}

.sidebar{
	width: 30%;
	min-height: 400px;
	background-color: blue;
	float: left;
}

.middle_bar{
	width: 40%;
	min-height: 400px;
	background-color: yellow;
	float: left;
}

.right_sidebar{
	width: 30%;
	min-height: 400px;
	background-color: blue;
	float: left;
}

.footer{
	min-height: 100px;
	background-color: grey;
	display: flow-root;
}